/* =========================
   POLICES
========================= */
@font-face {
    font-family: 'Montserrat Bold';
    src: url(../../Police/montserrat/Montserrat-Bold.otf);
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url(../../Police/montserrat/Montserrat-Thin.otf);
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url(../../Police/montserrat/Montserrat-Medium.otf);
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    background-image: url(../../Images/1x/Fonds\ analyse\ morpho.png);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    background-size: cover;
}



.menu {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    grid-area: menu;
    background-color: black;
    padding: 15px 0;
    z-index: 1000;

}

.menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat Medium';
    font-size: 13px;
    text-align: center;
    transition: color 0.3s ease;
    padding-top: 30px;
    padding-bottom: 2em;

}
.menu a img{
    width: 110px;
    height:auto;
}

a:hover {
    color: rgb(133, 181, 83);
}


.menu-item{
    position: relative;
    width: 25%;
    text-align: center;
    height: 75px;
    padding-top: 30px;
    padding-bottom: 2em;
}

.menu-item a {
    padding: 0;
}
.sous-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left:2em;
    z-index: 1200;
    background-color: rgb(50, 68, 32);
}

.sous-menu li {
    list-style: none;
    padding-top:1em;
}

.sous-menu li a {
    display: block;
    width: 100%;
    height:10%;
    padding:10px;
    transition: background 0.3s ease ;
    font-family: 'Montserrat Thin';
    font-size: 16px;
    text-decoration: none;
    color: white;
}


.burger{
    display: none;
}

.analyse {
    width: 100%;
    height: 50%;
    display: flex;
    color:white;
}

.img1 {
    width: 40%;
    height: 100%;
}

.img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.texte1 {
    width: 60%;
    height: 100%;
   
    padding: 2em;
    box-sizing: border-box;
}

.texte1 h1 {
    font-family: 'Montserrat Bold';
}

.texte1 h2 {
    font-family: 'Montserrat Medium';
    font-size: 16px;
}

.services {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    color:white;
}

.texte2 {
    width: 50%;
    position: relative;
    /* pour z-index du fond */
    padding: 2em;
    box-sizing: border-box;
    overflow: hidden;
}

.texte2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
    opacity: 0.8;
}

.texte2 h1,
.texte2 h2,
.texte2 p {
    position: relative;
    z-index: 1;
}

.texte2 h1 {
    font-family: 'Montserrat Bold';
}

.texte2 h2 {
    font-family: 'Montserrat Medium';
        font-size: 16px;

}

.img2 {
    width: 50%;
    height: 100%;
}

.img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/* footer {
    width: 100%;
    height: 5%;
    background-color: black;
    display: flex;
    flex-direction: row;
}

footer p {
    width: 25%;
    color: white;
    font-size: 10px;
    font-family: "Montserrat Thin";
    text-align: center;
} */

/* État initial pour texte1 : slide depuis la droite */
.texte1 h1, .texte1 h2, .texte1 p {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.6s ease-out;
}

/* État initial pour texte2 : slide depuis la gauche */
.texte2 h1, .texte2 h2, .texte2 p {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.6s ease-out;
}

/* Quand l'élément devient visible */
.visible {
    opacity: 1 !important;
    transform: translateX(0) !important;
}


@media (max-width: 768px) {
.menu {
    width: 100%;
    height: 50px;
    background-color: rgb(85, 114, 53);
    flex-direction: column;
}

.menu a {
    color: white;
    background-color: rgb(50, 68, 32);
    text-decoration: none;
    font-family: "Montserrat Medium";
    font-size: 13px;
    width: 100%;
   text-align: center;
           padding-bottom: 15px;
        padding-top: 15px;
transition: transform 0.5s ease-in-out, color 0.5s ease in out;
    border: none;
    border-bottom: 1px solid rgb(85, 114, 53);
}

.menu a img{
    width: 150px;
    height:auto;
}

.menu a:hover {
    transform: scale(1.02);
    color:white;
    background-color: rgb(133, 181, 83);
}

.menu-item {
    width: 100%;
    background-color: rgb(50, 68, 32);
    border-bottom: 1px solid rgb(85, 114, 53);
    position: relative;
}

.menu-item a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-family: "Montserrat Medium";
    font-size: 13px;
    text-align: center;
}

.menu-item a:hover {
    background-color: rgb(133, 181, 83);
    color: white;
    transform: scale(1.02);
}

.sous-menu {
    display: none;
    position: static;
    width: 100%;
    background-color: rgb(50, 68, 32);
    margin: 0;
    padding: 0;
}

.sous-menu li {
    list-style: none;
    border-bottom: 1px solid rgb(85, 114, 53);
}

.sous-menu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat Thin';
    font-size: 12px;
    text-align: left;
}

.sous-menu li a:hover {
    background-color: rgb(133, 181, 83);
    color: white;
}

.menu.open .sous-menu {
    display: block;
}

.menu-item:hover .sous-menu {
    display: block;
}

.burger{

           text-align: center;
        padding-top: 1em;
        display: inline-block;
        color: white;
        width: 100%;
        z-index: 1200;
        cursor: pointer;
        transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
/*     display: inline-block;
    color:white;
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
    text-align: center;
    cursor: pointer; */
}
.burger:hover{
      transform: scale(1.02);
      color:rgb(133, 181, 83);

}
    .analyse,
    .services {
        flex-direction: column;
        height: auto;
    }

    .img1,
    .texte1,
    .img2,
    .texte2 {
        width: 100%;
        height: auto;
    }


    .texte1,
    .texte2 {
        padding: 1.5em;
    }
}