@font-face {
    font-family: 'Montserrat Bold';
    src: url(../../Police/montserrat/Montserrat-Bold.otf);
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url(../../Police/montserrat/Montserrat-Thin.otf);
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url(../../Police/montserrat/Montserrat-Medium.otf);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;

}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'menu menu menu menu'
        'e-book e-book e-book e-book'
        'ft ft ft ft'
    ;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../../Images/1x/Fonds\ e-book.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;

}



.menu {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    grid-area: menu;
    background-color: black;
    padding: 15px 0;
    z-index: 1000;

}

.menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat Medium';
    font-size: 13px;
    text-align: center;
    transition: color 0.3s ease;
    padding-top: 30px;
    padding-bottom: 2em;

}

.menu a img {
    width: 110px;
    height: auto;

}

a:hover {
    color: rgb(133, 181, 83);
}
.menu-item{
    position: relative;
    width: 25%;
    text-align: center;
}
.sous-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left:2em;
    z-index: 1200;
    background-color: rgb(50, 68, 32);
}

.sous-menu li {
    height: 100%;
    list-style: none;
    padding-top:1em;
}

.sous-menu li a {
    display: block;
    width: 100%;
    height:10%;
    padding:10px;
    transition: background 0.3s ease ;
    font-family: 'Montserrat Thin';
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.sous-menu li a:hover{
    color:white;
    background-color: rgb(133, 181, 83);
}
.menu-item:hover .sous-menu {
  display: flex;
}



.burger {
    display: none;
    width: 50%;
    margin: auto;
    color: white;
    z-index: 1200;
    margin-right: 1em;
}

.e-book {
    grid-area: e-book;
    padding: 2em;
}

.books {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-left: 2em;
    width: 100%;
    height: auto;

}

.books a {
    text-decoration: none;
}

.books h1 {
    padding: 0.5em 1em;
    padding-right: 2em;
    color: white;
    border: 5px solid;
    border-color: rgb(85, 114, 53);
    transition: 1s;

}

.books h1:hover {
    border: solid 2px;
    color: white;
    background-color: rgb(133, 181, 83);
    transform: scale(1.02);

}

.book-items {
    width: 45%;
    margin: 2em auto;
    padding: 2em;
    padding-right: 4em;
    background-color: rgba(0, 0, 0, 0.85);
    /* fond noir semi-transparent pour voir le fond */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.book-items:hover {
    color: black;
    background-color: white;
    transform: scale(1.02);
}

.book-items img {
    width: 70%;
    height: auto;
    padding-left: 30px;
    margin-bottom: 1em;
    border-radius: 5px;
}

.book-items p {
    font-family: 'Montserrat Thin';
    font-size: 14px;
    color: white;
    text-align: justify;
}

.book-items:hover p {
    color: black;
}

footer {
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    flex-direction: row;

}

footer p {
    padding-top: 1em;
    grid-area: ft;
    width: 25%;
    height: 35px;
    color: black;
    font-size: 10px;
    font-family: "Montserrat Thin";
    text-align: center;
}




@media(max-width:768px) {
    .menu {
        width: 100%;
        height: 50px;
        background-color: rgb(85, 114, 53);
        display: flex;
        flex-direction: column;
        grid-area: menu;
        position: relative;
    }

    .menu a {
        color: white;
        background-color: rgb(50, 68, 32);
        text-decoration: none;
        font-family: "Montserrat Medium";
        font-size: 13px;
        width: 100%;
        text-align: center;
        padding-bottom: 1em;
        border: none;
        border-bottom: 1px solid rgb(85, 114, 53);
    }

    .menu a:hover {
        background-color: rgb(133, 181, 83);
        color: white;
        transform: scale(1.02);
    }

    .menu-item {
        width: 100%;
        background-color: rgb(50, 68, 32);
        border-bottom: 1px solid rgb(85, 114, 53);
        position: relative;
    }

    .menu-item a {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
        font-family: "Montserrat Medium";
        font-size: 13px;
        text-align: center;
    }

    .menu-item a:hover {
        background-color: rgb(133, 181, 83);
        color: white;
        transform: scale(1.02);
    }

    .sous-menu {
        display: none;
        position: static;
        width: 100%;
        background-color: rgb(50, 68, 32);
        margin: 0;
        padding: 0;
    }

    .sous-menu li {
        list-style: none;
        border-bottom: 1px solid rgb(85, 114, 53);
    }

    .sous-menu li a {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        font-family: 'Montserrat Thin';
        font-size: 12px;
        text-align: left;
    }

    .sous-menu li a:hover {
        background-color: rgb(133, 181, 83);
        color: white;
    }



    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
        text-align: center;
        cursor: pointer;
        padding-right: 13em;
    }

    .burger:hover {
        color: rgb(133, 181, 83);
        transform: scale(1.02);
    }

    .book-items {
        margin: auto;
    }

    .book-items img {
        width: 150%;
        height: auto;
        margin-bottom: 1em;
        border-radius: 5px;
    }

    .book-items p {
        font-family: 'Montserrat Thin';
        font-size: 14px;
        color: white;
        text-align: justify;
    }
}
