* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../../Police/montserrat/Montserrat-SemiBold.otf");
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(../../Police/montserrat/Montserrat-Bold.otf);
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url(../../Police/montserrat/Montserrat-Thin.otf);
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url(../../Police/montserrat/Montserrat-Medium.otf)
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../../Police/BebasNeue-Regular.woff);
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
}




.menu {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    grid-area: menu;
    background-color: black;
    padding: 15px 0;
    z-index: 1000;

}

.menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat Medium';
    font-size: 13px;
    text-align: center;
    transition: color 0.3s ease;
    padding-top: 30px;
    padding-bottom: 2em;

}

.menu a img {
    width: 110px;
    height: auto;

}

a:hover {
    color: rgb(133, 181, 83);
}
.menu-item{
    position: relative;
    width: 25%;
    text-align: center;
}
.sous-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left:2em;
    z-index: 1200;
    background-color: rgb(50, 68, 32);
}

.sous-menu li {
    height: 100%;
    list-style: none;
    padding-top:1em;
}

.sous-menu li a {
    display: block;
    width: 100%;
    height:10%;
    padding:10px;
    transition: background 0.3s ease ;
    font-family: 'Montserrat Thin';
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.sous-menu li a:hover{
    color:white;
    background-color: rgb(133, 181, 83);
}
/* Sous-menu visible when menu is open */
.menu.open .sous-menu {
  display: flex;
}

.menu-item:hover .sous-menu {
  display: flex;
}

@media (max-width: 768px) {
  .menu-item:hover .sous-menu {
    display: none;
  }
}

.burger {
    display: none;
    width: 50%;
    color: white;
    margin: auto;
    margin-right: 1em;
    z-index: 1200;

}

.boite {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    background-image: url(../../Images/1x/fonds\ mopho.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.boite h1 {
    font-family: 'Bebas Neue';
    font-size: 18px;
    text-align: center;
    margin-top: 1em;
    background-color: rgb(133, 181, 83);


}

.boite img {
    width: 100%;
}

.boite p {
    font-family: 'Montserrat Thin';
    font-size: 13px;
    text-align: center;
    color: white;
    padding: 1em;
}

.bande {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(../../Images/1x/Fonds\ formation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bande {
    width: 100%;
    height: 20%;
    object-fit: cover;
    animation: brillance2 4s ease-in-out alternate infinite;
    animation-delay: 0.5s;
}

@keyframes brillance2 {
    0% {
        box-shadow: 0 0 5px rgba(133, 181, 83, 0.3);
        filter: brightness(1);
    }

    50% {
        box-shadow: 0 0 10px rgba(133, 181, 83, 0.6);
        filter: brightness(1.2);
    }

    80% {

        box-shadow: 0 0 15px rgba(133, 181, 83);
        filter: brightness(1.4);
    }

    100% {
        box-shadow: 0 0 20px rgba(133, 181, 83);
        filter: brightness(1.6);
    }

}


.teaser {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
}

.titre1 {
    font-family: 'Bebas Neue';
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
    color: white;
}

.teaser h2 {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat SemiBold';
    font-size: 16px;
    text-align: center;
}

.teaser h2 a {
    width: 25px;
    height: 100px;
    color: rgb(133, 181, 83);
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(133, 181, 83);
    transition: all 0.3s ease;
}

.teaser h2 a:hover {
    background-color: rgb(133, 181, 83);
    color: black;
    transform: scale(1.05)
}

footer {
    width: 100%;
    height: 5%;
    background-color: black;
    display: flex;
    flex-direction: row;
}

footer p {
    padding-top: 1em;
    width: 25%;
    color: white;
    font-size: 10px;
    font-family: "Montserrat Thin";
    text-align: center;
}

@media (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: "Montserrat SemiBold";
        src: url("../../Police/montserrat/Montserrat-SemiBold.otf");
    }

    @font-face {
        font-family: 'Montserrat Bold';
        src: url(../../Police/montserrat/Montserrat-Bold.otf);
    }

    @font-face {
        font-family: 'Montserrat Thin';
        src: url(../../Police/montserrat/Montserrat-Thin.otf);
    }

    @font-face {
        font-family: 'Montserrat Medium';
        src: url(../../Police/montserrat/Montserrat-Medium.otf)
    }

    @font-face {
        font-family: 'Bebas Neue';
        src: url(../../Police/BebasNeue-Regular.woff);
    }

    html,
    body {
        height: 100%;
        font-family: Arial, sans-serif;
        background-color: black;
    }

    .menu {
        width: 100%;
        flex-direction: column;
        background-color: rgb(85, 114, 53);
        position: relative;
    }

    .menu a {
        width: 100%;
        color: white;
        background-color: rgb(50, 68, 32);
        text-decoration: none;
        font-family: "Montserrat Medium";
        font-size: 13px;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;
        transition: transform 0.5s ease ease-in-out, color 0, 5s ease in out;
        border: none;
        border-bottom: 1px solid rgb(85, 114, 53);
    }

    .menu a:hover {
        background-color: rgb(133, 181, 83);
        color: white;
        transform: scale(1.02);
    }

    .menu-item {
        width: 100%;
        background-color: rgb(50, 68, 32);
        border-bottom: 1px solid rgb(85, 114, 53);
        position: relative;
    }

    .menu-item a {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
        font-family: "Montserrat Medium";
        font-size: 13px;
        text-align: center;
    }

    .menu-item a:hover {
        background-color: rgb(133, 181, 83);
        color: white;
        transform: scale(1.02);
    }

    .sous-menu {
        display: none;
        position: static;
        width: 100%;
        background-color: rgb(50, 68, 32);
        margin: 0;
        padding: 0;
    }

    .sous-menu li {
        list-style: none;
        border-bottom: 1px solid rgb(85, 114, 53);
    }

    .sous-menu li a {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        font-family: 'Montserrat Thin';
        font-size: 12px;
        text-align: left;
    }

    .sous-menu li a:hover {
        background-color: rgb(133, 181, 83);
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu.open .sous-menu {
        display: block;
    }

    /* .burger{
    align-items: center;
    display:inline-block;
    transition: transform 0.5s ease-in-out,color 0.5s ease-in-out;
    cursor: pointer;
    text-align: center;
    z-index: 1200;
    
} */


    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
        text-align: center;
        cursor: pointer;
        padding-right: 13em;
    }


    .burger:hover {
        color: rgb(133, 181, 83);
        transform: scale(1.02);
    }

    .boite {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
    }

    .boite h1 {
        font-family: 'Bebas Neue';
        font-size: 18px;
        text-align: center;
        margin-top: 1em;
        background-color: rgb(133, 181, 83);


    }

    .boite p {
        font-family: 'Montserrat Thin';
        font-size: 13px;
        text-align: center;
        color: white;
        padding: 1em;
    }

    .bande {
        display: flex;
        width: 100%;
        height: 20%;
        justify-content: center;
        align-items: center;
        background-color: black;
    }

    .bande img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: brillance2 4s ease-in-out alternate infinite;
        animation-delay: 0.5s;
    }

    @keyframes brillance2 {
        0% {
            box-shadow: 0 0 5px rgba(133, 181, 83, 0.3);
            filter: brightness(1);
        }

        50% {
            box-shadow: 0 0 10px rgba(133, 181, 83, 0.6);
            filter: brightness(1.2);
        }

        80% {

            box-shadow: 0 0 15px rgba(133, 181, 83);
            filter: brightness(1.4);
        }

        100% {
            box-shadow: 0 0 20px rgba(133, 181, 83);
            filter: brightness(1.6);
        }

    }


    .teaser {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 20%;
        background-color: white;
    }

    .titre1 {
        font-family: 'Bebas Neue';
        font-size: 18px;
        padding-top: 5px;
        text-align: center;
        color: white;
    }

    .teaser h2 {
        font-family: 'Montserrat SemiBold';
        font-size: 18px;
        padding: 20px;
        text-align: center;
        width: 30%;
    }

    .teaser h2 a {
        color: black;
        text-decoration: none;
        display: inline-block;
        padding: 1em 1em;
        border: 2px solid rgb(133, 181, 83);
        transition: all 0.3s ease;
    }

    .teaser h2 a:hover {
        background-color: rgb(133, 181, 83);
        color: black;
        transform: scale(1.05)
    }

    footer {
        width: 100%;
        height: 5%;
        background-color: black;
        display: flex;
        flex-direction: row;
    }

    footer p {
        width: 25%;
        color: white;
        font-size: 10px;
        font-family: "Montserrat Thin";
        text-align: center;
    }
}