footer {
    width: 100%;
    height: 5%;
    background-color: black;
    display: flex;
    flex-direction: row;
}

footer p {
    width: 25%;
    color: white;
    font-size: 10px;
    font-family: "Montserrat Thin";
    text-align: center;
}